input.error{
	background: #ff0000;
	border-color: #ff0000;
}
#submitError{
	display: none;
}
#ajaxContent{
	width: 1020px;
	margin: 0 auto;
}
#ajaxContent .movie{
	overflow: auto;
}
#ajaxContent img{
	/*position: absolute;*/
	float: left;
	/*background: red;*/
}
#ajaxContent .movieDetails{
	/*float: left;*/
	list-style-type: none;
	/*background: red;*/
	/*position: absolute;*/
	/*top: 50%;*/
	/*clear: both;*/
}

#ajaxNotification {
	display: none;
}